/***********/
/** FONTS **/
/***********/

@font-face {
	font-family: Ampersand;
	src: local('Baskerville-Italic'), local('GoudyOldStyleT-Italic'), local('Garamond-Italic'), local('Palatino-Italic');
	unicode-range: U+26;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', Arial, sans-serif;
}

h1 {
	font-family: Ampersand, Helvetica, sans-serif;
}

/************/
/* ELEMENTS */
/************/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	font-size: 12px;
	color: rgb(193, 193, 193);
    letter-spacing: .5px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}

p, a, span, figcaption, address {
	text-decoration: none;
	font-style: normal;
}

a, figcaption {
	color: rgba(60,190,178,1);
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
}

figcaption {
	text-align: center;
}

main p, 
main span {
	color: grey;
}

svg {
	fill: rgba(60,190,178,1);
	fill: rgba(60,190,178,1);
    margin-right: 10px;
    position: relative;
    top: 5px;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}

/**********/
/* HEADER */
/**********/

header[role="navigation"] a {
	color: rgb(193, 193, 193);
    letter-spacing: .5px;
    display: block;
}

header[role="navigation"] {
	width: 20%;
	display: -webkit-flex;
	background-color: rgba(50,60,75,1);
	box-shadow: 0px -2px 10px rgba(50,60,75,1);
	text-align: center;
	padding-top: 2em;
	-webkit-flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

header[role="navigation"] h1 {
	color: white;
}

header[role="navigation"] h1, 
header[role="navigation"] figure,
header[role="navigation"] p {
	padding: 1%;
}

header[role="navigation"] p, 
header[role="navigation"] em {
	font-size: 1.3em;
	font-weight: 700;
	padding: 1em 0px 2em 0px;
	color: white;
}

header[role="navigation"] img {
	border-radius: 100%;
    margin: 5%;
    width: 80%;
}

header[role="navigation"] nav {
	width: 100%;
	text-align: left;
}

header[role="navigation"] nav svg {
	width: 1.5em;
	height: 1.5em;
}

nav ul li,
nav ul li a[href$=".html"] {
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    display: block;
}

nav ul li a:hover {
	background-color: rgba(60,190,178,1);
	cursor: pointer;
	color: white;
}

nav ul li:hover svg {
	fill: white;
}

/********/
/* MAIN */
/********/

main[role="content"] {
	width: 80%;
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: -webkit-flex-end;
	justify-content: -webkit-flex-end;
	padding: 0px 0px 0px 0.5%;
}

main[role="content"] h1,
main[role="content"] h2,
main[role="content"] h3 {
	color: rgba(60,190,178,1);
}

main[role="content"] header {
	background-color: white;
    position: relative;
    left: -4em;
    margin-bottom: 1em;
    z-index: 1;
}

main[role="content"] > article {
	margin: 2em 2em 1em 4em;
    border: 1px solid rgba(0, 0, 0, 0.18);
    padding: 2em;
}

main[role="content"] > article:last-of-type {
	margin-bottom: 2em;
}

/********/
/* FORM */
/********/

form h3 {
	font-weight: 200;
	color: grey !important;
	font-size: 1.1em;
	margin-bottom: 1em;
}

form fieldset {
	display: -webkit-flex;
	-webkit-flex-direction: row;
	border: none;
}

form label {
	margin-bottom: 1em;
}

form label span {
	font-style: italic;
}

a[role="button"], 
button[role="button"] {
	padding: .5em 1em;
    border: 2px solid rgba(60,190,178,1);
    margin-top: 2em;
    background-color: white;
    color: rgba(60,190,178,1);
    font-weight: 500;
    letter-spacing: .5px;
    text-transform: uppercase;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
}

a[role="button"]:hover, 
button[role="button"]:hover {
	cursor: pointer;
	background-color: rgba(60,190,178,1);
	color: white;
}

/********************/
/* PROFILE PICTURES */
/********************/

article#profile-picture {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

#profile-picture > div > header {
	left: 2em;
}

#profile-picture header h3 {
	margin-bottom: 2em;
}

#profile-picture:target {
	box-shadow: 0 0 0 100vmax rgba(255,255,255,0.8);
    position: relative;
    z-index: 1000;
    left: -1em;
    top: -15em;
    background-color: white;
}

#profile-picture figure {
	max-width: 14.5em;
	max-width: -webkit-min-content;
	max-width: -moz-min-content;
	max-width: min-content;
	display: inline-block;
}

#profile-picture figure > img {
	max-width: 14.5em;
	margin: 0;
}

#profile-picture figure.current-profile-picture {
	max-width: 22em;
	max-width: -webkit-min-content;
	max-width: -moz-min-content;
	max-width: min-content;
	display: inline-block;
}

#profile-picture figure.current-profile-picture > img {
	max-width: 22em;
	margin: 0;
	border-radius: 100%;
}

.filter-effects {
	margin-top: 2em;
}

.filter-effects header {
	background-color: transparent;
}

/***********/
/* FILTERS */
/***********/

.effect-01 img {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncA type="table" tableValues="0 0.5" /></feComponentTransfer></filter></svg>#filter');
	filter: opacity(50%);
	-webkit-filter: opacity(50%);
	-moz-filter: opacity(50%);
	-o-filter: opacity(50%);
	-ms-filter: opacity(50%);
}

.effect-02 img {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.393 0.769 0.189 0 0 0.349 0.686 0.168 0 0 0.272 0.534 0.131 0 0 0 0 0 1 0" /></filter></svg>#filter');
	filter: sepia(1);
	-webkit-filter: sepia(1);
	-moz-filter: sepia(1);
	-o-filter: sepia(1);
	-ms-filter: sepia(1);
}

.effect-03 img {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.3" /><feFuncG type="linear" slope="1.3" /><feFuncB type="linear" slope="1.3" /></feComponentTransfer></filter></svg>#filter');
	filter: brightness(130%);
	-webkit-filter: brightness(130%);
	-moz-filter: brightness(130%);
	-o-filter: brightness(130%);
	-ms-filter: brightness(130%);
}

.effect-04 img {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="4.148 -2.86 -0.288 0 0 -0.852 2.19 -0.288 0 0 -0.852 -2.86 4.712000000000001 0 0 0 0 0 1 0" /></filter></svg>#filter');
	filter: saturate(500%);
	-webkit-filter: saturate(500%);
	-moz-filter: saturate(500%);
	-o-filter: saturate(500%);
	-ms-filter: saturate(500%);
}

.effect-05 img {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
	filter: invert(1);
	-webkit-filter: invert(1);
	-moz-filter: invert(1);
	-o-filter: invert(1);
	-ms-filter: invert(1);
}

/***************/
/* PHOTO ALBUM */
/***************/

#photo-albums figure {
	width: 49.5%;
	display: inline-block;
}

#photo-albums > figure > img {
	width: 100%;
}

/**********/
/* FOOTER */
/**********/

footer[role="contactInfo"] {
	background-color: rgba(56, 61, 68, 1);
    box-shadow: 0px 2px 10px rgba(50,60,75,1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
	width: 100%;
	display: -webkit-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 2em 0 2em 0;
}

footer[role="contactInfo"] a:hover {
	color: white;
}

footer[role="contactInfo"] > nav, 
footer[role="contactInfo"] > ul, 
footer[role="contactInfo"] > address {
	width: 33.33%;
	text-align: center;
}

footer[role="contactInfo"] li {
	border: none !important;
	height: 2em;
}

footer[role="contactInfo"] > address {
	-webkit-box-ordinal-group: 0;
	-webkit-order: -1;
	-ms-flex-order: -1;
	order: -1;
}

/***********/
/* QUERIES */
/***********/

@media (max-width: 60em) {
	
	header[role="navigation"] {
		width: 100%;
	}

	nav ul {
		list-style: none;
	    display: -webkit-flex;
	    -webkit-box-pack: center;
	    -webkit-justify-content: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-flex-direction: row;
	    padding: 1em;
	    -webkit-flex-wrap: wrap;
	    height: 14em;
	    overflow: scroll;
	}

	nav ul li {
		padding: 2em;
	}

	nav ul li:hover {
		background-color: transparent;
		color: white !important;
	}

	main[role="content"] {
		width: 100%;
	}

	#profile-picture figure {
		max-width: -webkit-max-content;
		max-width: -moz-max-content;
		max-width: max-content;
	}

	#profile-picture figcaption {
		height: 2.5em;
		line-height: 2em;
	}

	#profile-picture figure > img {
		max-width: 100%;
	}

	#photo-albums figure {
		width: 100%;
		padding-bottom: 2em;
	}

	#photo-albums figure:last-of-type {
		padding-bottom: 0;
	}
	
	footer[role="contactInfo"] {
		-webkit-flex-direction: column;
	}
	
	footer[role="contactInfo"] nav, 
	footer[role="contactInfo"] address, 
	footer[role="contactInfo"] ul {
		width: 100%;
		padding: 1em 0;
	}

}

@media (min-width: 60.1em) {
	
	nav li {
		height: 4em;
	    line-height: 4em;
	    width: 100%;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}

	nav li a {
		padding: 0 1em;
	}
	
	nav ul li:first-of-type {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
	}

}








